{% extends 'srs/base.html' %}

{% block content %}

<div class="content-box">
	<h2 class="underline">Notes</h2>
	<ul>
		<li><h4>The development environment uses a local SQLite database.</h4></li>
		<li><h4>The production environment uses a CISE's MYSQL database.</h4></li>
	</ul>
	<br>
	<h2 class="underline">Current Admin User</h2>
	<ul>
		<li><h4>Username: administrator</h4></li>
		<li><h4>Password: Ask_Dr._Schmalz</h4></li>
	</ul>
	<br>
	<h2 class="underline">Summary</h2>
	<p class="text-block">
		The Online Scientific Reference System (SRS) project emerged
		from the needs of a reference management tool that allows users
		to take, view, and organize researches' notes simultaneously.
		This ambitious project has been designed to meet researcher's
		expectations since more features have been added to deliver a
		robust, user-friendly, and fully functional web application.
	</p>
	<br>
	<h2 class="underline">Senior Project</h2>
	<p class="text-block">
		Phase 3:<br />
		Date: 1/8/2018<br />
		Updating Reference System to Implement Notecard Functionality.
	</p>

	<h2 class="underline">Advisor</h2>
	<p class="text-block">Mark Schmalz</p>
</div>

{% endblock %}