{% extends 'srs/base_srs.html' %}

{% block site_content %}
	<a href="{% url 'selection_view' %}"><h2>Return to View Select</h2></a>
    <a href="{% url 'notecard_list' pk=notefile.pk %}"><h2>Main Menu</h2></a>
    <a href="{% url 'directory_content' pk=notefile.directory.pk%}"><h2>Back</h2></a>
{% endblock %}

{% block content %}
    <div class="notefile">
        <p>{{ notefile.name }}</p>
    </div>

<script>
    //Event listener to select the corresponding action.
    document.addEventListener("keydown", function (zEvent) {
        if (zEvent.code === "KeyR") {
            window.location.replace('http://' + window.location.host + '/srs/');
        }else if (zEvent.code === "KeyM") {
            // Get current notefile pk.
            var notefilePK = "{{notefile.pk}}";
            window.location.replace('http://'+window.location.host+'/srs/notecard_list/'+notefilePK);
        } else if (zEvent.code === "KeyB") {
            // Get parent directory pk.
            var directoryPK = "{{notefile.directory.pk}}";
            window.location.replace('http://'+window.location.host+'/srs/directory_list/'+directoryPK);
        }
    } );
</script>
{% endblock %}
