{% extends 'srs/base_srs.html' %}

{% block site_content %}
	<a href="{% url 'selection_view' %}"><h2>Return to View Select</h2></a>
    <a href="{% url 'import_notecard' pk=pk %}"><h2>Import</h2></a>
    <a href="{% url 'create_notecard' pk=pk %}"><h2>Create</h2></a>
    <a href="{% url 'notefile_detail' pk=pk %}"><h2>Back</h2></a>
{% endblock %}

{% block content %}
    <div>
		<h3>The notefile is empty but you can MAKE or IMPORT some notes.</h3>
    </div>

<script>
    //Event listener to select the corresponding action.
    document.addEventListener("keydown", function (zEvent) {
        // Get parent notefile pk.
        var notefilePK = "{{pk}}";

        if (zEvent.altKey && zEvent.code === "KeyR") {
            window.location.replace('http://'+window.location.host+'/srs/');
        } else if (zEvent.altKey && zEvent.code === "KeyC") {
            window.location.replace('http://'+window.location.host+'/srs/create_notecard/'+notefilePK);
        } else if (zEvent.altKey && zEvent.code === "KeyI") {
            window.location.replace('http://'+window.location.host+'/srs/import_notecard/'+notefilePK);
        } else if (zEvent.altKey && zEvent.code === "KeyB") {
            window.location.replace('http://'+window.location.host+'/srs/notefile/'+notefilePK);
        }
    } );
</script>
{% endblock %}
