{% extends 'srs/base_srs.html' %}
{% load staticfiles %}

{% block site_content %}
    <a href="{% url 'home_directory' %}" ><h2>Directory List</h2></a>
    <a href="{% url 'notefile_list' %}" ><h2>Notefile List</h2></a>
    <a href="{% url 'image_list' %}" ><h2>Image Archive</h2></a>
    <a href="{% url 'video_list' %}" ><h2>Video Archive</h2></a>
    <a href="{% url 'audio_list' %}" ><h2>Audio Archive</h2></a>
    <a href="{% url 'document_list' %}" ><h2>Document Archive</h2></a>

<script>
    //Event listener to select the corresponding action.
    document.addEventListener("keydown", function (zEvent) {
        if (zEvent.altKey && zEvent.code === "KeyD") {
            window.location.replace('http://'+window.location.host+'/srs/directory_list/');
        } else if (zEvent.altKey && zEvent.code === "KeyN") {
            window.location.replace('http://'+window.location.host+'/srs/notefile_list');
        } else if (zEvent.altKey && zEvent.code === "KeyI") {
            window.location.replace('http://'+window.location.host+'/srs/image_archive/');
        } else if (zEvent.altKey && zEvent.code === "KeyV") {
            window.location.replace('http://'+window.location.host+'/srs/video_archive/');
        } else if (zEvent.altKey && zEvent.code === "KeyA") {
            window.location.replace('http://'+window.location.host+'/srs/audio_archive/');
        } else if (zEvent.altKey && zEvent.code === "KeyO") {
            window.location.replace('http://'+window.location.host+'/srs/document_archive/');
        }
    } );
</script>
{% endblock %}
