{% extends 'srs/base.html' %}

{% block content %}
    <h1 id="login-header">User Login Here</h1>
    <form id="login-form" method="post" action="{% url 'login' %}">{% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <input class="login btn btn-default" type="submit" value="Login"/>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>
{% endblock %}